@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Master Palette - Immutable */
  --white: #ffffff;
  --off-white: #f5f5f5;
  --subtle-black: #1a1a1a;
  --strong-black: #000000;
  
  /* Grey Spectrum */
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #e5e5e5;
  --grey-500: #737373;
}

body {
  background-color: var(--off-white);
  color: var(--subtle-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar Hide (Optional for cleaner look) */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}